* {
    margin: 0;
    padding: 0;
}
body{
background-color: aqua;    
}
img{
width: 400px;
height: 400px;
}
.main {
width: 400px;
height: 400px;
margin: 200px auto;
perspective: 800px;
}
.heros{
width:400px;
transform-style: preserve-3d;
color: chartreuse;
cursor: pointer;
font:80px impact;
text-align: center;
animation: cube 15s linear infinite;
}
.heros div{
position: absolute;
width: 400px;
height: 400px;
opacity: .8;
}
.html5{
background-color: chocolate;
transform: translateZ(200px);
}
.css{
background-color: chocolate;
transform:rotateY(180deg) translateZ(200px);
}
.jquery{
background-color: chocolate;
transform:rotateX(90deg) translateY(200px);
transform-origin:bottom;
}
.react {
background-color: chocolate;
transform:rotateX(-90deg) translateY(-200px);
transform-origin:top;
}
.js{
background-color: chocolate;
transform:rotateY(-90deg) translateX(-200px);
transform-origin: left;
}
.node{
background-color: chocolate;
transform:rotateY(90deg) translateX(200px);
transform-origin: right;
}
@keyframes cube{
0%{
transform: rotateY(0deg);
}
100% {
transform:rotateY(360deg);
}
}