* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--clr-bg: hsl(180, 100%, 50%);
	--clr-chocolate: hsl(25, 75%, 47%);
}
body {
	background-color: var(--clr-bg);
}
img {
	width: 400px;
	height: 400px;
}
.main {
	width: 400px;
	height: 400px;
	margin: 200px auto;
	perspective: 800px;
}
h1 {
	text-align: center;
	padding: 2rem;
	font-size: 3rem;
}
.heros {
	width: 400px;
	transform-style: preserve-3d;
	cursor: pointer;
	font: 80px impact;
	text-align: center;
	animation: cube 15s linear infinite;
}
.heros div {
	position: absolute;
	width: 400px;
	height: 400px;
	opacity: 0.8;
}
.html5 {
	background-color: var(--clr-chocolate);
	transform: translateZ(200px);
}
.css {
	background-color: var(--clr-chocolate);
	transform: rotateY(180deg) translateZ(200px);
}
.jquery {
	background-color: var(--clr-chocolate);
	transform: rotateX(90deg) translateY(200px);
	transform-origin: bottom;
}
.react {
	background-color: var(--clr-chocolate);
	transform: rotateX(-90deg) translateY(-200px);
	transform-origin: top;
}
.js {
	background-color: var(--clr-chocolate);
	transform: rotateY(-90deg) translateX(-200px);
	transform-origin: left;
}
.node {
	background-color: var(--clr-chocolate);
	transform: rotateY(90deg) translateX(200px);
	transform-origin: right;
}
@keyframes cube {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
